{% extends "base.html" %}

{% block content %}

<div class="text-center">

<div class="card p-4 shadow mx-auto" style="max-width: 700px;">

<h2 class="mb-3">About This Project</h2>

<p class="lead">
This Blood Bank Management System is developed to simplify the process of blood donation,
requests, and communication between donors and recipients.
</p>

<hr>

<h4 class="mt-3">Project Owners</h4>

<p class="fw-bold mt-2">
AVNIET - AIML-B BATCH 7
</p>

<p class="fs-5">
Claro
</p>

<hr>

<p class="text-muted">
This platform aims to provide quick and reliable access to blood in both emergency
and regular situations.
</p>

</div>

</div>

{% endblock %}